@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Pau%20Cin%20Hau:700|Noto%20Sans%20Pau%20Cin%20Hau:400');

body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Noto Sans Pau Cin Hau';
    font-weight: 400;
    scroll-behavior: smooth;
    background-color: var(--background)
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Pau Cin Hau';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

:root{
    --rgba: rgba(0,0,0,0.2);
    --text: #04040f;
    --light: #f8f7fd;
    --dark: #040410;
    --primL: #231caa;
    --secL: #deda89;
    --tercL: #6cd670;
    --primD: #5b54e3;
    --secD: #41415c;
    --tercD: #f9931b;

}
    .side-bar{
        position: fixed;
        background-color: var(--terc);
        top: 0;
        left: -300px;
        height: 100vh;
        width: 300px;
        z-index: 999;
        background-color: var(--tercD);
        transition: left 0.5s ease-out;
        box-shadow:  -4px 0 20px var(--rgba);
    }
    .side-bar.active{
        left: 0;
    }


    .side-bar ul{
        list-style: none;
    }


    .side-bar li:first-child {
        margin-left: auto;

    }

    .coluna{
        display:flex;
        flex-flow:column;

    }
    .centro{
        display:flex;
        justify-content: center;
    }






/* keyframes */

@keyframes side-bar {
    from {
      transform: translate(-50%, -60%);
    }
    to {
      transform: translate(-50%, -50%);
    }
}