@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Pau%20Cin%20Hau:700|Noto%20Sans%20Pau%20Cin%20Hau:400');

body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Noto Sans Pau Cin Hau';
    font-weight: 400;
    scroll-behavior: smooth;
    color: var(--text);
    background-color: var(--bg-color)
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Pau Cin Hau';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

:root{
    --rgba: rgba(0,0,0,0.2);
    --text: #04040f;
    --bg-color: #f8f7fd;
    --prim: #231caa;
    --sec: #deda89;
    --terc: #6cd670;
    --alt-bg: #040410;
}
[data-theme="dark"]{
    --bg-color: #040410;
    --text: #f8f7fd;
    --prim: #5b54e3;
    --sec: #41415c;
    --terc: #f9931b;
    --alt-bg: #f8f7fd;
}
nav{
    height: 30px;
    width: 100%;
    background-color: var(--prim);
}
nav ul{
    list-style: none;
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

nav img{
    height: 25px;
    padding-top: 2px;
    opacity: 1;

}
nav li{

}
    

    .side-bar{
        position: fixed;
        background-color: var(--terc);
        top: 0;
        left: -200px;
        height: 100vh;
        width: 200px;
        z-index: 999;
        background-color: var(--terc);
        transition: left 0.5s ease-out;
        box-shadow:  -4px 0 20px var(--rgba);
    }
    .side-bar.active{
        left: 0;
    }


    .side-bar ul{
        list-style: none;
    }


    .side-bar li:first-child {
        margin-left: auto;

    }
    
    .coluna{
        display:flex;
        flex-flow:column;

    }
    .centro{
        display:flex;
        justify-content: center;
    }






/* keyframes */

