@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Pau%20Cin%20Hau:700|Noto%20Sans%20Pau%20Cin%20Hau:400');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Michroma&family=Share+Tech&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Pau Cin Hau';
    font-weight: 400;
    scroll-behavior: smooth;
    color: var(--text);
    background: linear-gradient(to left ,var(--bg-color), var(--bg-color-2));
}


h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Pau Cin Hau';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

footer{
    display: flex;
    height: 40vh;
    width: 100%;
    background-color: var(--border-color);
    flex-wrap: wrap;
    
}
    .footer-div{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
    .redes-sociais{
        min-width: 320px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }
    .redes-sociais div{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1px;
    }
    .navegacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }
    .navegacao span{
        font-size: 20px;
        font-weight: bolder;
    }

:root{
    --rgba: rgba(0,0,0,0.2);
    --text: #04040f;
    --bg-color: #f8f7fd;
    --bg-color-2: #d1cdcd;
    --prim: #231caa;
    --sec: #deda89;
    --terc: #6cd670;
    --alt-bg: #040410;
    --border-color: #55555511;
}
[data-theme="dark"]{
    --bg-color: #040410;
    --bg-color-2: #0d0c1a;
    --text: #f8f7fd;
    --prim: #5b54e3;
    --sec: #41415c;
    --terc: #f9931b;
    --alt-bg: #f8f7fd;
    --border-color: #94949611;
}
button{

    border: 1px solid;
    border-radius: 5px;
    outline: none;
    height: 35px;
}
nav{
    height: 35px;
    width: 100%;
    border-radius: 8px;
    
}
nav ul{
    list-style: none;
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

nav img{
    height: 25px;
    padding-top: 2px;
    opacity: 1;

}
    

    .side-bar{
        position: fixed;
        background-color: transparent;
        backdrop-filter: blur(40px);
        top: 0;
        left: -200px;
        height: 100vh;
        width: 200px;
        z-index: 999;
        transition: left 0.5s ease-out;
        box-shadow:  -4px 1px 20px var(--rgba);
    }
    .side-bar.active{
        left: 0;
    }


    .side-bar ul{
        list-style: none;
    }


    .side-bar li:first-child {
        margin-left: auto;

    }
    .side-bar a{
        text-decoration: none;
        color: var(--text);
    }
    
    .coluna{
        display:flex;
        flex-flow:column;
        padding: 10px;

    }
    .centro{
        display:flex;
        justify-content: center;
    }
    .border-down{
        border-bottom:1px solid var(--border-color);
    }
    .container100{
        display: flex;
        width: 100%;
    }
    .Digital{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    }


    .Heavy{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
    }
    .tech{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
    }

    .esquerda{
        padding-left: 1.6rem ;
        text-align: left;
    }
    .container50{
        display: flex;
        width: 50%;
        padding: 5%;
    }
    .terc-color{
        background-color: var(--terc);
    }
    .three-items{
        margin-top: 1.6rem;
        display: flex;
        gap: 1.6rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        
        
        
    }
    .c-bloco{
        display: flex;
        justify-content: space-between;
    }
    .bloco{
        height: 130px;
        max-width: 200px;
        min-width: 170px;
        background:linear-gradient(to right, var(--bg-color-2), var(--prim));
        border-radius: 10px;
    }
    .bloco h5{
        padding-left: 3rem;
    }
    
    .bloco2{
        height: 130px;
        max-width: 1400px;
        min-width: 100px;
        background:linear-gradient(to left, var(--bg-color), var(--sec));
        border-radius: 10px;
    }
    
    .two-item{
        justify-content: space-between;
    }
    .three-items-div{
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        min-height: 150px;
        max-width: 150px;
        color: var(--bg-color);
        border: solid 4px var(--border-color);
        justify-content: center;
        border-radius: 10px;
        background-color: var(--text);
        padding: 10px;

        
    }
    .three-items-div p{
        font-size: 1rem;
        text-align: left;
    }
    .chamada{
        display: flex;
        font-weight: bolder;
        height: 50vh;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, var(--bg-color), var(--prim));
        color: var(--text);
        padding-left: 2rem;
    }
    .projetos{
        display: flex;
        padding: 1rem;
        flex-direction: column;
    }
    .projeto{
        display: grid;
        grid-template-columns: 10% 45% 45%;
        grid-template-rows:100% 1;

    }
    .p-titulo-div{

        border-top: 2px solid var(--border-color);        
        border-bottom: 2px solid var(--border-color);   
    }
    .num-projeto{
        padding-left: 1.3rem;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
    }
    .titulo-projeto{
        border-right: 3px var(--border-color);
        display: flex;
        font-size: 30px;
        justify-content: center;
        align-items: center;
    }
    .titulo-projeto a{
        
        text-decoration: none;
    }
    .container-entre-em-contato{
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .eec-button{
        width: 250px;
        height: 60px;
        background-color: var(--alt-bg);
        font-size: 1.6rem;
        color: var(--bg-color);
        border-radius: 10px;
    }
    .popup{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 50%;
        box-shadow: 0 5px 15px var(--rgba);
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        padding: 8px;
        height: 300px;
        width: 70vw;
        background-color: var(--alt-bg);
        color: var(--bg-color);
        border: 1px solid var(--bg-color);
        border-radius: 20px;
        

    }
    
    .popup-div{
        text-align: left;
    }
    .popup-x {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--bg-color);
        background: none;
        border: none;
        cursor: pointer;
    }
    .popup-div a{
        text-decoration: none;

    }

    .popup-div p{
        font-size: 1.5rem;
        text-align: left;
    }
    .icon-sol{
        background-color: var(--text);
        -webkit-mask: url('/static/imgs/sun.svg') no-repeat center;
        mask: url('/static/imgs/sun.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 25px;
        height: 25px;
    }
    .icon-menu{
        background-color: var(--text);
        -webkit-mask: url('/static/imgs/menu.svg') no-repeat center;
        mask: url('/static/imgs/menu.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 25px;
        height: 25px;
    }
    .icon-money{
        background-color: var(--bg-color);
        -webkit-mask: url('/static/imgs/money.svg') no-repeat center;
        mask: url('/static/imgs/money.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 2rem;
        height: 2rem;
    }
    .icon-by_hand{
        background-color: var(--bg-color);
        -webkit-mask: url('/static/imgs/by_hand.svg') no-repeat center;
        mask: url('/static/imgs/by_hand.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 2rem;
        height: 2rem;
    }
    .icon-repair{
        background-color: var(--bg-color);
        -webkit-mask: url('/static/imgs/repair.svg') no-repeat center;
        mask: url('/static/imgs/repair.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 2rem;
        height: 2rem;
    }
    .icon-ig{
        background-color: var(--text);
        -webkit-mask: url('/static/imgs/ig.svg') no-repeat center;
        mask: url('/static/imgs/ig.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 40px;
        height: 40px;
    }
    .icon-linkedin{
        background-color: var(--text);
        -webkit-mask: url('/static/imgs/linkedin.svg') no-repeat center;
        mask: url('/static/imgs/linkedin.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 40px;
        height: 40px;
    }




/* keyframes */

@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Pau%20Cin%20Hau:700|Noto%20Sans%20Pau%20Cin%20Hau:400');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Michroma&family=Share+Tech&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Noto Sans Pau Cin Hau';
    font-weight: 400;
    scroll-behavior: smooth;
    color: var(--text);
    background: linear-gradient(to left ,var(--bg-color), var(--bg-color-2));
}


h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Pau Cin Hau';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

footer{
    display: flex;
    height: 40vh;
    width: 100%;
    background-color: var(--border-color);
    flex-wrap: wrap;
    
}
    .footer-div{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
    .redes-sociais{
        min-width: 320px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }
    .redes-sociais div{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1px;
    }
    .navegacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }
    .navegacao span{
        font-size: 20px;
        font-weight: bolder;
    }

:root{
    --rgba: rgba(0,0,0,0.2);
    --text: #04040f;
    --bg-color: #f8f7fd;
    --bg-color-2: #d1cdcd;
    --prim: #231caa;
    --sec: #deda89;
    --terc: #6cd670;
    --alt-bg: #040410;
    --border-color: #55555511;
}
[data-theme="dark"]{
    --bg-color: #040410;
    --bg-color-2: #0d0c1a;
    --text: #f8f7fd;
    --prim: #5b54e3;
    --sec: #41415c;
    --terc: #f9931b;
    --alt-bg: #f8f7fd;
    --border-color: #94949611;
}
button{

    border: 1px solid;
    border-radius: 5px;
    outline: none;
    height: 35px;
}
nav{
    height: 35px;
    width: 100%;
    border-radius: 8px;
    
}
nav ul{
    list-style: none;
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

nav img{
    height: 25px;
    padding-top: 2px;
    opacity: 1;

}
    

    .side-bar{
        position: fixed;
        background-color: transparent;
        backdrop-filter: blur(40px);
        top: 0;
        left: -200px;
        height: 100vh;
        width: 200px;
        z-index: 999;
        transition: left 0.5s ease-out;
        box-shadow:  -4px 1px 20px var(--rgba);
    }
    .side-bar.active{
        left: 0;
    }


    .side-bar ul{
        list-style: none;
    }


    .side-bar li:first-child {
        margin-left: auto;

    }
    .side-bar a{
        text-decoration: none;
        color: var(--text);
    }
    
    .coluna{
        display:flex;
        flex-flow:column;
        padding: 10px;

    }
    .centro{
        display:flex;
        justify-content: center;
    }
    .border-down{
        border-bottom:1px solid var(--border-color);
    }
    .container100{
        display: flex;
        width: 100%;
    }
    .Digital{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    .escuro{
        display: none;
    }

    .claro{
        display: block;
    }
    [data-theme='dark'] .claro{
        display: none;
    }
    [data-theme='dark'] .escuro{
        display: block;
    }

    .Heavy{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
    }
    .tech{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
    }

    .esquerda{
        padding-left: 1.6rem ;
        text-align: left;
    }
    .container50{
        display: flex;
        width: 50%;
        padding: 5%;
    }
    .terc-color{
        background-color: var(--terc);
    }
    .three-items{
        margin-top: 1.6rem;
        display: flex;
        gap: 1.6rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        
        
        
    }
    .c-bloco{
        display: flex;
        justify-content: space-between;
    }
    .bloco{
        height: 130px;
        max-width: 200px;
        min-width: 170px;
        background:linear-gradient(to right, var(--bg-color-2), var(--prim));
        border-radius: 10px;
    }
    .bloco h5{
        padding-left: 3rem;
    }
    
    .bloco2{
        height: 130px;
        max-width: 1400px;
        min-width: 100px;
        background:linear-gradient(to left, var(--bg-color), var(--sec));
        border-radius: 10px;
    }
    
    .two-item{
        justify-content: space-between;
    }
    .three-items-div{
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        min-height: 150px;
        max-width: 150px;
        color: var(--bg-color);
        border: solid 4px var(--border-color);
        justify-content: center;
        border-radius: 10px;
        background-color: var(--text);
        padding: 10px;

        
    }
    .three-items-div p{
        font-size: 1rem;
        text-align: left;
    }
    .chamada{
        display: flex;
        font-weight: bolder;
        height: 50vh;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, var(--bg-color), var(--prim));
        color: var(--text);
        padding-left: 2rem;
    }
    .projetos{
        display: flex;
        padding: 1rem;
        flex-direction: column;
    }
    .projeto{
        display: grid;
        grid-template-columns: 10% 45% 45%;
        grid-template-rows:100% 1;

    }
    .p-titulo-div{

        border-top: 2px solid var(--border-color);        
        border-bottom: 2px solid var(--border-color);   
    }
    .num-projeto{
        padding-left: 1.3rem;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
    }
    .titulo-projeto{
        border-right: 3px var(--border-color);
        display: flex;
        font-size: 30px;
        justify-content: center;
        align-items: center;
    }
    .titulo-projeto a{
        
        text-decoration: none;
    }


    .container-entre-em-contato{
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .eec-button{
        width: 250px;
        height: 60px;
        background-color: var(--alt-bg);
        font-size: 1.6rem;
        color: var(--bg-color);
        border-radius: 10px;
    }
    .popup{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 50%;
        box-shadow: 0 5px 15px var(--rgba);
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        padding: 8px;
        height: 350px;
        width: 80vw;
        padding: 1.6rem;
        background-color: var(--alt-bg);
        color: var(--bg-color);
        border: 1px solid var(--bg-color);
        border-radius: 20px;
        z-index: 1000;

    }
    
    .popup-div{
        text-align: left;
    }
    .popup-x {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--bg-color);
        background: none;
        border: none;
        cursor: pointer;

}
    .popup-div a{
        text-decoration: none;

    }

    .popup-div p{
        font-size: 1.5rem;
        text-align: left;
    }
    .mostre{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 3rem 0 3rem 0;
    }
    .mostre img{
        height: 400px;
        border-radius: 20px;

    }

    .icon-sol{
        background-color: var(--text);
        -webkit-mask: url('/static/imgs/sun.svg') no-repeat center;
        mask: url('/static/imgs/sun.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 25px;
        height: 25px;
    }
    .icon-menu{
        background-color: var(--text);
        -webkit-mask: url('/static/imgs/menu.svg') no-repeat center;
        mask: url('/static/imgs/menu.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 25px;
        height: 25px;
    }
    .icon-money{
        background-color: var(--bg-color);
        -webkit-mask: url('/static/imgs/money.svg') no-repeat center;
        mask: url('/static/imgs/money.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 2rem;
        height: 2rem;
    }
    .icon-by_hand{
        background-color: var(--bg-color);
        -webkit-mask: url('/static/imgs/by_hand.svg') no-repeat center;
        mask: url('/static/imgs/by_hand.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 2rem;
        height: 2rem;
    }
    .icon-repair{
        background-color: var(--bg-color);
        -webkit-mask: url('/static/imgs/repair.svg') no-repeat center;
        mask: url('/static/imgs/repair.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 2rem;
        height: 2rem;
    }
    .icon-ig{
        background-color: var(--text);
        -webkit-mask: url('/static/imgs/ig.svg') no-repeat center;
        mask: url('/static/imgs/ig.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 40px;
        height: 40px;
    }
    .icon-linkedin{
        background-color: var(--text);
        -webkit-mask: url('/static/imgs/linkedin.svg') no-repeat center;
        mask: url('/static/imgs/linkedin.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 40px;
        height: 40px;
    }

    .container-slider{
        display: flex;
        height: 350px;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .container-images{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
    }
    .slider{
        opacity: 0;
        transition: opacity .2s;
        position: absolute;
        width: 100%;
        border-radius: 10px;
        
    }
    .on{
        opacity: 1;
    }
    #prev-button, #next-button{
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;

    }
    #prev-button img, #next-button img{
        width: 100%;
        height: 80%;
    }
    #prev-button-escuro, #next-button-escuro{
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;

    }
    #prev-button-escuro img, #next-button-escuro img{
        width: 100%;
        height: 80%;
    }


/* keyframes */

